* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    overflow-x: hidden;

    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4);

    height: 100vh;

}

#loader {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #111;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index: 999;

    color: white;

}

.heart {

    width: 80px;

    height: 80px;

    background: red;

    transform: rotate(45deg);

    animation: beat 1s infinite;

}

.heart::before {

    content: "";

    width: 80px;

    height: 80px;

    background: red;

    position: absolute;

    border-radius: 50%;

    top: -40px;

    left: 0;

}

.heart::after {

    content: "";

    width: 80px;

    height: 80px;

    background: red;

    position: absolute;

    border-radius: 50%;

    left: -40px;

    top: 0;

}

@keyframes beat {

    0% {

        transform: rotate(45deg) scale(1);

    }

    50% {

        transform: rotate(45deg) scale(1.2);

    }

    100% {

        transform: rotate(45deg) scale(1);

    }

}

.hero {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    position: relative;

    background: linear-gradient(45deg, #ff758c, #ff7eb3);

    color: white;

}

.overlay {

    position: absolute;

    width: 100%;

    height: 100%;

    background: rgba(255, 255, 255, .08);

    backdrop-filter: blur(4px);

}

.container {

    position: relative;

    z-index: 5;

}

.hero h1 {
    font-size: clamp(2.5rem, 7vw, 5rem);
}

.hero h2 {
    font-size: clamp(1.6rem, 5vw, 3rem);
}

.hero p {
    font-size: clamp(1rem, 3vw, 1.4rem);
}

button {

    padding: 12px 30px;

    font-size: 18px;

    width: auto;

    max-width: 100%;

}

button:hover {

    transform: scale(1.1);

    box-shadow: 0 0 30px white;

}

.floating-heart {

    position: fixed;

    bottom: -50px;

    font-size: 25px;

    animation: float 10s linear infinite;

}

@keyframes float {

    0% {

        transform: translateY(0);

        opacity: 1;

    }

    100% {

        transform: translateY(-110vh);

        opacity: 0;

    }

}


/* LOVE LETTER */

.love-section {

    padding: 10px 20px;

    background: white;

}

.title {

    font-size: clamp(2rem, 6vw, 3.5rem);

}

.letter-box {

    padding: 20px;

    font-size: 18px;

    line-height: 35px;

}

/* Gallery */

.gallery {

    padding: 100px 20px;

    background: #ffeaf3;

}

.gallery-img {

    width: 100%;

    height: auto;

    object-fit: cover;

}

.gallery-img:hover {

    transform: scale(1.08);

}

.next {

    padding: 10px;

    text-align: center;

    background: linear-gradient(45deg, #ff5f9e, #ff80ab);

    color: white;

}

/* .next h2 {

    font-size: 45px;

    margin-bottom: 40px;

    font-family: 'Great Vibes', cursive;

} */

#giftBtn {

    padding: 18px 50px;

    font-size: 22px;

    border: none;

    border-radius: 50px;

    background: white;

    color: #ff4081;

    font-weight: bold;

    transition: .5s;

}

#giftBtn:hover {

    transform: scale(1.1);

    box-shadow: 0 0 25px white;

}


.timeline-section {

    padding: 100px 20px;

    background: #fff0f6;

}

.timeline {

    max-width: 900px;

    margin: auto;

}

.timeline-item {

    background: purple;

    padding: 25px;

    margin: 15px 0;

    border-left: 6px solid hotpink;

    border-radius: 15px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);

}

.reasons {

    padding: 100px 20px;

    background: #ffe4ef;

}

.reason-card {

    padding: 30px;

    margin: 15px;

    border-radius: 20px;

    background: white;

    font-size: 24px;

    text-align: center;

    transition: .5s;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);

}

.reason-card:hover {

    transform: translateY(-10px);

    background: #ff5c93;

    color: white;

}

.gift-section {

    padding: 10px;

    text-align: center;

    background: white;

}

#giftBox {

    font-size: clamp(70px, 20vw, 140px);

}

#giftBox:hover {

    transform: rotate(15deg) scale(1.15);

}

#giftMessage {

    margin-top: 40px;

    font-size: 45px;

    font-family: 'Great Vibes', cursive;

    color: #ff4081;

}

.final {

    padding: 150px;

    text-align: center;

    background: linear-gradient(45deg, #ff4d88, #ff8ab5);

    color: white;

    position: relative;

    overflow: hidden;

}

.final h1 {

    font-size: clamp(2rem, 7vw, 4.5rem);

}

.final p {

    font-size: 28px;

    margin: 30px;

}

#fireworkBtn {

    padding: 20px 60px;

    font-size: 24px;

    border: none;

    border-radius: 50px;

    background: white;

    color: #ff4081;

    font-weight: bold;

}

canvas {

    position: absolute;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    pointer-events: none;

}


/* ==============================
   MOBILE RESPONSIVE
============================== */

@media (max-width:768px) {

    .hero {

        padding: 30px;

        height: auto;

        min-height: 100vh;

    }

    .hero h1 {

        font-size: 45px;

    }

    .hero h2 {

        font-size: 28px;

    }

    .hero p {

        font-size: 18px;

    }

    .title {
        color: purple;

        font-size: 38px;

    }

    .letter-box {

        padding: 20px;

        font-size: 18px;

        line-height: 32px;

    }

    button {

        width: 100%;

        font-size: 18px;

    }

    .reason-card {

        font-size: 18px;

        padding: 20px;

    }

    #giftBox {

        font-size: 90px;

    }

    #giftMessage {

        font-size: 30px;

    }

    .final {

        padding: 70px 20px;

    }

    .final h1 {

        font-size: 40px;

    }

    .final p {

        font-size: 18px;

    }

    .gallery {

        padding: 50px 20px;

    }

    .timeline-section {

        padding: 50px 20px;

    }

    .reasons {

        padding: 50px 20px;

    }

}

#musicBtn {

    position: fixed;

    right: 20px;

    bottom: 20px;

    padding: 15px 22px;

    border: none;

    border-radius: 50px;

    background: #ff4f8b;

    color: white;

    font-size: 16px;

    cursor: pointer;

    z-index: 9999;

    box-shadow: 0 0 15px rgba(255, 0, 100, .4);

    transition: .3s;

}

#musicBtn:hover {

    transform: scale(1.1);

}

@media(max-width:768px) {

    #musicBtn {

        right: 15px;

        bottom: 15px;

        padding: 12px 18px;

        font-size: 14px;

    }

}


#finalLove {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: linear-gradient(135deg, #ff4f8b, #ff9ec4);

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    color: white;

    z-index: 10000;

    animation: fadeIn 1s;

    text-align: center;

    padding: 20px;

}

#finalLove h1 {

    font-size: 70px;

    font-family: 'Great Vibes', cursive;

}

#finalLove h2 {

    margin: 20px 0;

    font-size: 45px;

}

#finalLove p {

    font-size: 26px;

    line-height: 45px;

    max-width: 800px;

}

@keyframes fadeIn {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}

@media(max-width:768px) {

    #finalLove h1 {

        font-size: 40px;

    }

    #finalLove h2 {

        font-size: 28px;

    }

    #finalLove p {

        font-size: 18px;

        line-height: 32px;

    }

}